<!-- <TabBar [barTintColor]="'white'" [activeTab]="activeTab" style="width: 100%;height:100%;position: fixed;top:0;">
    <TabPane [title]='custom1'>
        <ng-template #custom1>
            <TabBarTab [title]="'Life'" [key]="0" [badge]="1" [icon]="icon1" (onPress)="onPress($event)" [selectedIcon]="icon11">
                <ng-template #icon1>
                    <div style="width:22px;height: 22px;background: url('https://zos.alipayobjects.com/rmsportal/sifuoDUQdAFKAVcFGROC.svg') center center / 21px 21px no-repeat;">
                    </div>
                </ng-template>
                <ng-template #icon11>
                    <div style="width:22px;height: 22px;background: url('https://zos.alipayobjects.com/rmsportal/iSrlOTqrKddqbOmlvUfq.svg') center center / 21px 21px no-repeat;">
                    </div>
                </ng-template>
            </TabBarTab>
        </ng-template>
        <ng-template [ngTemplateOutlet]="content" *ngIf="activeTab === 0"></ng-template>
    </TabPane>
    <TabPane [title]='custom2'>
        <ng-template #custom2>
            <TabBarTab [title]="'Koubei'" [key]="1" [badge]="'new'" (onPress)="onPress($event)" [icon]="icon2" [selectedIcon]="icon22">
                <ng-template #icon2>
                    <div style="width:22px;height: 22px;background: url('https://gw.alipayobjects.com/zos/rmsportal/BTSsmHkPsQSPTktcXyTV.svg') center center / 21px 21px no-repeat;">
                    </div>
                </ng-template>
                <ng-template #icon22>
                    <div style="width:22px;height: 22px;background: url('https://gw.alipayobjects.com/zos/rmsportal/ekLecvKBnRazVLXbWOnE.svg') center center / 21px 21px no-repeat;">
                    </div>
                </ng-template>
            </TabBarTab>
        </ng-template>
        <ng-template [ngTemplateOutlet]="content" *ngIf="activeTab === 1"></ng-template>
    </TabPane>
    <TabPane [title]='custom3'>
        <ng-template #custom3>
            <TabBarTab [title]="'Friend'" [key]="2" [dot]="true" (onPress)="onPress($event)" [icon]="icon3" [selectedIcon]="icon33">
                <ng-template #icon3>
                    <div style="width:22px;height: 22px;background: url('https://zos.alipayobjects.com/rmsportal/psUFoAMjkCcjqtUCNPxB.svg') center center / 21px 21px no-repeat;">
                    </div>
                </ng-template>
                <ng-template #icon33>
                    <div style="width:22px;height: 22px;background: url('https://zos.alipayobjects.com/rmsportal/IIRLrXXrFAhXVdhMWgUI.svg') center center / 21px 21px no-repeat;">
                    </div>
                </ng-template>
            </TabBarTab>
        </ng-template>
        <ng-template [ngTemplateOutlet]="content" *ngIf="activeTab === 2"></ng-template>
    </TabPane>
    <TabPane style="text-align: center;" [title]='custom4'>
        <ng-template #custom4>
            <TabBarTab [title]="'My'" [key]="3" [icon]="icon4" (onPress)="onPress($event)" [selectedIcon]="icon44">
                <ng-template #icon4>
                    <div style="width:22px;height: 22px;background: url('https://zos.alipayobjects.com/rmsportal/asJMfBrNqpMMlVpeInPQ.svg') center center / 21px 21px no-repeat;">
                    </div>
                </ng-template>
                <ng-template #icon44>
                    <div style="width:22px;height: 22px;background: url('https://zos.alipayobjects.com/rmsportal/gjpzzcrPMkhfEqgbYvmN.svg') center center / 21px 21px no-repeat;">
                    </div>
                </ng-template>
            </TabBarTab>
        </ng-template>
        <ng-template [ngTemplateOutlet]="content" *ngIf="activeTab === 3"></ng-template>
    </TabPane>
</TabBar>

<ng-template #content>
    <router-outlet></router-outlet>
</ng-template> -->




<TabBar [barTintColor]="'white'" [activeTab]="activeTab" style="width: 100%;height:100%;position: fixed;top:0;">
    <TabPane [title]='custom1'>
        <ng-template #custom1>
            <TabBarTab [title]="'Life'" [key]="0" [badge]="1" [icon]="icon1" (onPress)="onPress($event)" [selectedIcon]="icon11">
                <ng-template #icon1>
                    <div style="width:22px;height: 22px;background: url('https://zos.alipayobjects.com/rmsportal/sifuoDUQdAFKAVcFGROC.svg') center center / 21px 21px no-repeat;">
                    </div>
                </ng-template>
                <ng-template #icon11>
                    <div style="width:22px;height: 22px;background: url('https://zos.alipayobjects.com/rmsportal/iSrlOTqrKddqbOmlvUfq.svg') center center / 21px 21px no-repeat;">
                    </div>
                </ng-template>
            </TabBarTab>
        </ng-template>
        <ng-template [ngTemplateOutlet]="content" *ngIf="activeTab === 0"></ng-template>
    </TabPane>
</TabBar>

<ng-template #content>
    <router-outlet></router-outlet>
</ng-template>