<TabBar [barTintColor]="'white'" [activeTab]="activeTab" style="width: 100%;height:100%;position: fixed;top:0;" (onPress)="onPress($event)">
    <TabBarItem [title]="'Life'" [key]="0" [badge]="1" [icon]="icon1" [selectedIcon]="icon11">
        <ng-template [ngTemplateOutlet]="content" *ngIf="activeTab === 0"></ng-template>
    </TabBarItem>

    <TabBarItem [title]="'Koubei'" [key]="1" [badge]="'new'" [icon]="icon2" [selectedIcon]="icon22">
        <ng-template [ngTemplateOutlet]="content" *ngIf="activeTab === 1"></ng-template>
    </TabBarItem>

    <TabBarItem [title]="'Friend'" [key]="2" [dot]="true" [icon]="icon3" [selectedIcon]="icon33">
        <ng-template [ngTemplateOutlet]="content" *ngIf="activeTab === 2"></ng-template>
    </TabBarItem>

    <TabBarItem [title]="'My'" [key]="3" [icon]="icon4" [selectedIcon]="icon44">
        <ng-template [ngTemplateOutlet]="content" *ngIf="activeTab === 3"></ng-template>
    </TabBarItem>

    <!-- <ng-template ngFor let-tab [ngForOf]="tabs" let-i="index">
        <TabBarItem [title]="tab.title" [key]="i" [badge]="tab.badge" [icon]="icon1" [selectedIcon]="tab.selectedIcon">
            <ng-template [ngTemplateOutlet]="content" *ngIf="activeTab === i"></ng-template>
        </TabBarItem>
    </ng-template> -->

</TabBar>



<!--图标定义-->
<ng-template #icon1>
    <div style="width:22px;height: 22px;background: url('https://zos.alipayobjects.com/rmsportal/sifuoDUQdAFKAVcFGROC.svg') center center / 21px 21px no-repeat;">
    </div>
</ng-template>
<ng-template #icon11>
    <div style="width:22px;height: 22px;background: url('https://zos.alipayobjects.com/rmsportal/iSrlOTqrKddqbOmlvUfq.svg') center center / 21px 21px no-repeat;">
    </div>
</ng-template>

<ng-template #icon2>
    <div style="width:22px;height: 22px;background: url('https://gw.alipayobjects.com/zos/rmsportal/BTSsmHkPsQSPTktcXyTV.svg') center center / 21px 21px no-repeat;">
    </div>
</ng-template>
<ng-template #icon22>
    <div style="width:22px;height: 22px;background: url('https://gw.alipayobjects.com/zos/rmsportal/ekLecvKBnRazVLXbWOnE.svg') center center / 21px 21px no-repeat;">
    </div>
</ng-template>

<ng-template #icon3>
    <div style="width:22px;height: 22px;background: url('https://zos.alipayobjects.com/rmsportal/psUFoAMjkCcjqtUCNPxB.svg') center center / 21px 21px no-repeat;">
    </div>
</ng-template>
<ng-template #icon33>
    <div style="width:22px;height: 22px;background: url('https://zos.alipayobjects.com/rmsportal/IIRLrXXrFAhXVdhMWgUI.svg') center center / 21px 21px no-repeat;">
    </div>
</ng-template>

<ng-template #icon4>
    <div style="width:22px;height: 22px;background: url('https://zos.alipayobjects.com/rmsportal/asJMfBrNqpMMlVpeInPQ.svg') center center / 21px 21px no-repeat;">
    </div>
</ng-template>
<ng-template #icon44>
    <div style="width:22px;height: 22px;background: url('https://zos.alipayobjects.com/rmsportal/gjpzzcrPMkhfEqgbYvmN.svg') center center / 21px 21px no-repeat;">
    </div>
</ng-template>

<ng-template #content>
    <router-outlet></router-outlet>
</ng-template>